/*========= Dragula ==========*/
.vue2-dragula-container {
    display: block;
    width: 100%;
    padding: 0.625rem; //10px;
    @include background-opacity($dragula-bg, 0.4);
    div,
    .gu-mirror {
        padding: 0.625rem; //10px;
        @include background-opacity($dragula-bg, 0.9);
        transition: opacity 0.4s ease-in-out;
        color: $dragula-color;
        margin-bottom: 0.625rem; //10px;
        cursor: no-drop;
    }
}
